:root{
    --bg: #ffffff;
    --textColor:#0a0a0a;
    --order:#f0eeee;
    --active:#629ad1;
    --bodyBg:#f0eeee;
    --card_bg: #ffffff;
}

.dark{
    --bg: #434141;
    --textColor:rgb(255, 255, 255);
    --order:#4b4b4b;
    --bodyBg:#000000;
    --card_bg: #434141;
}